@import './base.css';
@import '~bootstrap/dist/css/bootstrap.min.css';

body{
  background-color: #AB5454;
  color: #000000;
}

main {
  padding-top: 80px;
}

@media (max-width: 1395px) {
  main {
    padding-top: 120px;
  }
}

@media (max-width: 768px) {
  main {
    padding-top: 70px;
  }
}